#de3 {
	CLIP: rect(0px 336px 175px 0px); PADDING-BOTTOM: 0px; MARGIN-TOP: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; OVERFLOW: hidden; PADDING-TOP: 0px
}
#de5 {
	CLIP: rect(0px 336px 175px 0px); PADDING-BOTTOM: 0px; MARGIN-TOP: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; OVERFLOW: hidden; PADDING-TOP: 0px
}
#de6 {
	CLIP: rect(0px 336px 175px 0px); PADDING-BOTTOM: 0px; MARGIN-TOP: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; OVERFLOW: hidden; PADDING-TOP: 0px
}
#de7 {
	CLIP: rect(0px 336px 175px 0px); PADDING-BOTTOM: 0px; MARGIN-TOP: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; OVERFLOW: hidden; PADDING-TOP: 0px
}
#de8 {
	CLIP: rect(0px 336px 175px 0px); PADDING-BOTTOM: 0px; MARGIN-TOP: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; OVERFLOW: hidden; PADDING-TOP: 0px
}
#de9 {
	CLIP: rect(0px 336px 175px 0px); PADDING-BOTTOM: 0px; MARGIN-TOP: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; OVERFLOW: hidden; PADDING-TOP: 0px
}
#de10 {
	CLIP: rect(0px 336px 175px 0px); PADDING-BOTTOM: 0px; MARGIN-TOP: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; OVERFLOW: hidden; PADDING-TOP: 0px
}
#de11 {
	CLIP: rect(0px 336px 175px 0px); PADDING-BOTTOM: 0px; MARGIN-TOP: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; OVERFLOW: hidden; PADDING-TOP: 0px
}
#de12 {
	CLIP: rect(0px 336px 175px 0px); PADDING-BOTTOM: 0px; MARGIN-TOP: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; OVERFLOW: hidden; PADDING-TOP: 0px
}
#de3 {
	WIDTH: 334px
}
#de5 {
	WIDTH: 334px
}
#de5 {
	WIDTH: 336px
}
#de7 {
	WIDTH: 312px; voice-family: inherit
}
#de8 {
	WIDTH: 312px; voice-family: inherit
}
#de9 {
	WIDTH: 312px; voice-family: inherit
}
#de6 {
	WIDTH: 312px; voice-family: inherit
}
#de10 {
	WIDTH: 312px; voice-family: inherit
}
HTML > BODY #de7 {
	WIDTH: 312px
}
HTML > BODY #de8 {
	WIDTH: 312px
}
HTML > BODY #de9 {
	WIDTH: 312px
}
HTML > BODY #de6 {
	WIDTH: 312px
}
HTML > BODY #de10 {
	WIDTH: 312px
}
#de3 {
	OVERFLOW: auto
}
#de3 {
	BORDER-BOTTOM: #d6d3d3 1px solid; BORDER-LEFT: #d6d3d3 1px solid; MARGIN: 0px 0px 15px; BACKGROUND: url(i/bg/bg-feat-wp-top.gif) repeat-x left top; BORDER-TOP: #d6d3d3 1px solid; BORDER-RIGHT: #d6d3d3 1px solid
}
#de3 H2 {
	MARGIN-TOP: 10px; MARGIN-BOTTOM: 15px; MARGIN-LEFT: 12px; FONT-SIZE: 14px
}
#de3 H3 {
	TEXT-ALIGN: right; PADDING-BOTTOM: 4px; PADDING-LEFT: 0px; PADDING-RIGHT: 16px; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 12px; PADDING-TOP: 2px
}
#de3 UL LI A {
	LINE-HEIGHT: normal; PADDING-LEFT: 12px; DISPLAY: block; MARGIN-BOTTOM: 6px; BACKGROUND: url(http://edge.networkworld.com/includes/styles/r08/img/choice-list-style.gif) no-repeat 0px 4px; COLOR: black; MARGIN-LEFT: 12px; FONT-SIZE: 11px; FONT-WEIGHT: normal
}
DIV#a-e_col1 #de3 UL LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-TOP: 0px
}
#de3 UL LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-TOP: 0px
}
#de7 {
	BORDER-BOTTOM: #8e8c8c 1px solid; BORDER-LEFT: #8e8c8c 1px solid; PADDING-BOTTOM: 14px; BACKGROUND-COLOR: #eeeeee; PADDING-LEFT: 14px; PADDING-RIGHT: 8px; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 145px; FONT-SIZE: 12px; BORDER-TOP: #8e8c8c 3px solid; BORDER-RIGHT: #8e8c8c 1px solid; PADDING-TOP: 12px
}
#de8 {
	BORDER-BOTTOM: #8e8c8c 1px solid; BORDER-LEFT: #8e8c8c 1px solid; PADDING-BOTTOM: 14px; BACKGROUND-COLOR: #eeeeee; PADDING-LEFT: 14px; PADDING-RIGHT: 8px; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 145px; FONT-SIZE: 12px; BORDER-TOP: #8e8c8c 3px solid; BORDER-RIGHT: #8e8c8c 1px solid; PADDING-TOP: 12px
}
#de9 {
	BORDER-BOTTOM: #8e8c8c 1px solid; BORDER-LEFT: #8e8c8c 1px solid; PADDING-BOTTOM: 14px; BACKGROUND-COLOR: #eeeeee; PADDING-LEFT: 14px; PADDING-RIGHT: 8px; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 145px; FONT-SIZE: 12px; BORDER-TOP: #8e8c8c 3px solid; BORDER-RIGHT: #8e8c8c 1px solid; PADDING-TOP: 12px
}
#de10 {
	BORDER-BOTTOM: #8e8c8c 1px solid; BORDER-LEFT: #8e8c8c 1px solid; PADDING-BOTTOM: 14px; BACKGROUND-COLOR: #eeeeee; PADDING-LEFT: 14px; PADDING-RIGHT: 8px; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 145px; FONT-SIZE: 12px; BORDER-TOP: #8e8c8c 3px solid; BORDER-RIGHT: #8e8c8c 1px solid; PADDING-TOP: 12px
}
#de7 H2 {
	BACKGROUND-IMAGE: url(/includes/styles/i/bg/NWWlogo_116x20.gif); TEXT-ALIGN: left; PADDING-BOTTOM: 0px; TEXT-TRANSFORM: uppercase; MARGIN: 0px 0px 16px; PADDING-LEFT: 122px; PADDING-RIGHT: 0px; BACKGROUND-REPEAT: no-repeat; FONT: bold 15px Arial, Helvetica, sans-serif; BACKGROUND-POSITION: 2px 0px; HEIGHT: 20px; COLOR: #830707; PADDING-TOP: 0px
}
#de8 H2 {
	BACKGROUND-IMAGE: url(/includes/styles/i/bg/NWWlogo_116x20.gif); TEXT-ALIGN: left; PADDING-BOTTOM: 0px; TEXT-TRANSFORM: uppercase; MARGIN: 0px 0px 16px; PADDING-LEFT: 122px; PADDING-RIGHT: 0px; BACKGROUND-REPEAT: no-repeat; FONT: bold 15px Arial, Helvetica, sans-serif; BACKGROUND-POSITION: 2px 0px; HEIGHT: 20px; COLOR: #830707; PADDING-TOP: 0px
}
#de9 H2 {
	BACKGROUND-IMAGE: url(/includes/styles/i/bg/NWWlogo_116x20.gif); TEXT-ALIGN: left; PADDING-BOTTOM: 0px; TEXT-TRANSFORM: uppercase; MARGIN: 0px 0px 16px; PADDING-LEFT: 122px; PADDING-RIGHT: 0px; BACKGROUND-REPEAT: no-repeat; FONT: bold 15px Arial, Helvetica, sans-serif; BACKGROUND-POSITION: 2px 0px; HEIGHT: 20px; COLOR: #830707; PADDING-TOP: 0px
}
#de10 H2 {
	BACKGROUND-IMAGE: url(/includes/styles/i/bg/NWWlogo_116x20.gif); TEXT-ALIGN: left; PADDING-BOTTOM: 0px; TEXT-TRANSFORM: uppercase; MARGIN: 0px 0px 16px; PADDING-LEFT: 122px; PADDING-RIGHT: 0px; BACKGROUND-REPEAT: no-repeat; FONT: bold 15px Arial, Helvetica, sans-serif; BACKGROUND-POSITION: 2px 0px; HEIGHT: 20px; COLOR: #830707; PADDING-TOP: 0px
}
#de7 A {
	COLOR: #11639b; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
#de8 A {
	COLOR: #11639b; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
#de9 A {
	COLOR: #11639b; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
#de10 A {
	COLOR: #11639b; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
#de7 A:hover {
	TEXT-DECORATION: underline
}
#de8 A:hover {
	TEXT-DECORATION: underline
}
#de9 A:hover {
	TEXT-DECORATION: underline
}
#de10 A:hover {
	TEXT-DECORATION: underline
}
#de7 IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; MARGIN: 1px 16px 0px 0px; FLOAT: left; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
#de8 IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; MARGIN: 1px 16px 0px 0px; FLOAT: left; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
#de9 IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; MARGIN: 1px 16px 0px 0px; FLOAT: left; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
#de10 IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; MARGIN: 1px 16px 0px 0px; FLOAT: left; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
#de6 {
	BORDER-BOTTOM: #8e8c8c 1px solid; BORDER-LEFT: #8e8c8c 1px solid; PADDING-BOTTOM: 14px; PADDING-LEFT: 14px; PADDING-RIGHT: 8px; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND: #ffffff; FONT-SIZE: 12px; BORDER-TOP: #8e8c8c 1px solid; BORDER-RIGHT: #8e8c8c 1px solid; PADDING-TOP: 12px
}
#de6 H5 {
	PADDING-BOTTOM: 0px; TEXT-TRANSFORM: capitalize; MARGIN-TOP: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#de6 A {
	FONT-WEIGHT: bold; TEXT-DECORATION: none
}
#boxinstalead {
	BORDER-BOTTOM: #9c9c9c 1px solid; BORDER-LEFT: #9c9c9c 1px solid; PADDING-BOTTOM: 2px; BACKGROUND-COLOR: #c7dfee; MARGIN: 0px; PADDING-LEFT: 10px; WIDTH: 462px; PADDING-RIGHT: 6px; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 169px; CLEAR: left; FONT-SIZE: 12px; BORDER-TOP: #00639c 3px solid; BORDER-RIGHT: #9c9c9c 1px solid; PADDING-TOP: 8px
}
.boxilheader {
	PADDING-BOTTOM: 8px; TEXT-TRANSFORM: uppercase; MARGIN: 0px; PADDING-LEFT: 118px; PADDING-RIGHT: 0px; FONT: bold 15px Arial, Helvetica, sans-serif; BACKGROUND: url(/includes/styles/i/bg/NWWlogo_116x20.gif) no-repeat 2px 0px; PADDING-TOP: 0px
}
#boxinstalead P {
	TEXT-ALIGN: left; PADDING-BOTTOM: 0px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 12px; PADDING-TOP: 0px
}
#boxinstalead UL {
	PADDING-BOTTOM: 0px; MARGIN: 2px 0px 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#boxinstalead IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; MARGIN: 3px 20px 1px 0px; FLOAT: left; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.input01 {
	BORDER-BOTTOM: #00639c 1px solid; BORDER-LEFT: #00639c 1px solid; PADDING-BOTTOM: 0px; MARGIN: 0px 6px 0px 5px; PADDING-LEFT: 3px; WIDTH: 140px; PADDING-RIGHT: 0px; FONT-FAMILY: Tahoma; HEIGHT: 18px; FONT-SIZE: 11px; BORDER-TOP: #00639c 1px solid; BORDER-RIGHT: #00639c 1px solid; PADDING-TOP: 1px
}
#boxinstalead .but01 {
	PADDING-BOTTOM: 0px; MARGIN: 5px 0px 0px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; FONT-FAMILY: Tahoma; BACKGROUND: #78878f; COLOR: #fff; FONT-SIZE: 9px; PADDING-TOP: 1px
}
#boxinstalead .but01 {
	TEXT-DECORATION: none
}
#boxinstalead FORM {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.box_cis {
	BORDER-BOTTOM: #95938e 2px solid; PADDING-BOTTOM: 0px; MARGIN: 10px 0px 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; CLEAR: both; PADDING-TOP: 10px
}
.box_cis IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 6px
}
.box_cis P {
	PADDING-BOTTOM: 6px; LINE-HEIGHT: normal; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 11px; PADDING-TOP: 0px
}
.box_cis H3 {
	BACKGROUND-IMAGE: none; TEXT-ALIGN: center; PADDING-BOTTOM: 0px; TEXT-TRANSFORM: uppercase; MARGIN: 13px 0px 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT: bold 11px Arial, Helvetica, sans-serif; COLOR: #000000; PADDING-TOP: 0px
}
.box_cis UL {
	PADDING-BOTTOM: 0px; MARGIN: 2px 0px 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.box_cis TD {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; BACKGROUND: url(/includes/styles/i/bg/dot_vert.gif) repeat-y right top; PADDING-TOP: 10px
}
.box_cis TD.end {
	BACKGROUND-IMAGE: none; PADDING-BOTTOM: 0px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; PADDING-TOP: 10px
}
.box_cis A {
	PADDING-LEFT: 12px; DISPLAY: block; BACKGROUND: url(/includes/styles/i/bg/cis_r_arrow.gif) no-repeat 0px 3px
}
#box_cis {
	BORDER-BOTTOM: #95938e 2px solid; PADDING-BOTTOM: 0px; MARGIN: 10px 0px 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; CLEAR: both; FONT-SIZE: 11px; PADDING-TOP: 10px
}
#box_cis IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 6px
}
#box_cis P {
	PADDING-BOTTOM: 6px; LINE-HEIGHT: normal; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 11px; PADDING-TOP: 0px
}
#box_cis H3 {
	BACKGROUND-IMAGE: none; TEXT-ALIGN: center; PADDING-BOTTOM: 0px; TEXT-TRANSFORM: uppercase; MARGIN: 13px 0px 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT: bold 11px Arial, Helvetica, sans-serif; COLOR: #000000; PADDING-TOP: 0px
}
#box_cis H4 {
	BACKGROUND-IMAGE: none; TEXT-ALIGN: center; PADDING-BOTTOM: 0px; TEXT-TRANSFORM: uppercase; MARGIN: 4px 0px 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT: bold 11px Arial, Helvetica, sans-serif; COLOR: #000000; PADDING-TOP: 0px
}
#box_cis UL {
	TEXT-ALIGN: left; PADDING-BOTTOM: 4px; MARGIN: -6px 14px 4px 6px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#box_cis LI {
	LIST-STYLE-POSITION: outside; PADDING-BOTTOM: 0px; LINE-HEIGHT: 14px; LIST-STYLE-TYPE: square; MARGIN: 0px 0px 0px 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 11px; PADDING-TOP: 0px
}
#box_cis TD {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; BACKGROUND: url(/includes/styles/i/bg/dot_vert.gif) repeat-y right top; PADDING-TOP: 4px
}
#box_cis TD.end {
	BACKGROUND-IMAGE: none; PADDING-BOTTOM: 0px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; PADDING-TOP: 4px
}
#box_cis A {
	PADDING-LEFT: 12px; DISPLAY: block; BACKGROUND: url(/includes/styles/i/bg/cis_r_arrow.gif) no-repeat 0px 3px
}
#box_cis TD.none A {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
H5.cistrip {
	TEXT-TRANSFORM: uppercase; MARGIN-TOP: 5px; DISPLAY: block; FONT: bold 15px Arial, sans-serif; COLOR: #333333; BORDER-TOP: #95938e 2px solid
}
#libraryBox {
	PADDING-BOTTOM: 4px; MARGIN: 0px; PADDING-LEFT: 10px; WIDTH: 100%; PADDING-RIGHT: 10px; PADDING-TOP: 4px
}
#libraryBox P {
	LINE-HEIGHT: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 12px; PADDING-TOP: 6px
}
#libraryBox .title {
	PADDING-BOTTOM: 6px; MARGIN: 10px 0px 0px; PADDING-LEFT: 15px; PADDING-RIGHT: 0px; BORDER-TOP: #94948c 2px solid; PADDING-TOP: 4px
}
#libraryBox TD {
	PADDING-BOTTOM: 12px; LINE-HEIGHT: normal; PADDING-LEFT: 20px; PADDING-RIGHT: 30px; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 12px; BORDER-TOP: #c6deec 1px solid; PADDING-TOP: 12px
}
#libraryBox .Shad {
	BACKGROUND-COLOR: #e7efef
}
#sponsoredlinks {
	BORDER-BOTTOM: #d6d3d3 1px solid; BORDER-LEFT: #d6d3d3 1px solid; PADDING-BOTTOM: 4px; MARGIN: 18px 0px; PADDING-LEFT: 20px; WIDTH: 600px; PADDING-RIGHT: 25px; DISPLAY: inline; FLOAT: left; CLEAR: both; OVERFLOW: hidden; BORDER-TOP: #d6d3d3 5px solid; BORDER-RIGHT: #d6d3d3 1px solid; PADDING-TOP: 0px
}
#d-e_col2 #sponsoredlinks {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 10px; WIDTH: 314px; PADDING-RIGHT: 10px; PADDING-TOP: 0px
}
#d-e_col2b #sponsoredlinks {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 10px; WIDTH: 314px; PADDING-RIGHT: 10px; PADDING-TOP: 0px
}
#d-e_col2 #sponsoredlinks H2 {
	LINE-HEIGHT: 20px; MARGIN: 0px; FONT-SIZE: 14px
}
#d-e_col2b #sponsoredlinks H2 {
	LINE-HEIGHT: 20px; MARGIN: 0px; FONT-SIZE: 14px
}
#sponsoredlinks UL LI {
	BACKGROUND-IMAGE: none !important; PADDING-BOTTOM: 10px; PADDING-LEFT: 0px !important; WIDTH: 100%; MARGIN-LEFT: 0px !important; PADDING-TOP: 9px
}
#sponsoredlinks H2 {
	MARGIN-BOTTOM: 5px; COLOR: #666666; FONT-SIZE: 16px; FONT-WEIGHT: bold
}
#sponsoredlinks UL LI H3 {
	FONT-SIZE: 12px
}
#sponsoredlinks UL LI H3 A {
	COLOR: #0863a5; FONT-WEIGHT: bold
}
#sponsoredlinks UL LI P {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; COLOR: #000
}
#sponsoredlinks UL LI A {
	FONT-WEIGHT: normal
}
#sponsoredlinks A {
	COLOR: #008000; FONT-WEIGHT: bold
}
#sponsoredlinks P {
	MARGIN-TOP: 10px; FONT-SIZE: 12px !important
}
#sponsoredlinks H5 {
	BORDER-BOTTOM: #999999 2px solid; PADDING-BOTTOM: 3px; TEXT-TRANSFORM: uppercase; MARGIN-TOP: 0px; DISPLAY: block; MARGIN-BOTTOM: 5px
}
#idglinks H5 {
	BORDER-BOTTOM: #999999 2px solid; PADDING-BOTTOM: 3px; TEXT-TRANSFORM: uppercase; MARGIN-TOP: 0px; DISPLAY: block; MARGIN-BOTTOM: 5px
}
#sponsoredlinks A {
	TEXT-DECORATION: none
}
#idglinks A {
	TEXT-DECORATION: none
}
#skyscraper1 {
	MARGIN-TOP: 20px; WIDTH: 160px; FLOAT: left; MARGIN-RIGHT: 10px
}
#sponsoredlinks #toplinks {
	DISPLAY: none; BACKGROUND: url(/includes/styles/i/bg/sp-links-bg.gif) repeat-x left bottom
}
#sponsoredlinks #bottomlinks {
	BACKGROUND: url(/includes/styles/i/bg/sp-links-bg-bot.gif) repeat-x left top
}
#sponsoredlinks #bottomlinks H4 {
	PADDING-BOTTOM: 0px; TEXT-TRANSFORM: none; MARGIN: 3px 23px 3px 3px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: right; FONT-SIZE: 11px; PADDING-TOP: 5px
}
#sponsoredlinks #middlelinks {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#sponsoredlinks #toplinks {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 17px; PADDING-TOP: 10px
}
#sponsoredlinks #bottomlinks {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 17px; PADDING-TOP: 10px
}
* #sponsoredlinks #toplinks P {
	LINE-HEIGHT: 1.2em; WIDTH: 400px; FONT-SIZE: 103%
}
* #sponsoredlinks #bottomlinks P {
	LINE-HEIGHT: 1.2em; WIDTH: 400px; FONT-SIZE: 103%
}
.dotted {
	MARGIN-TOP: 3px; WIDTH: 400px; MARGIN-BOTTOM: 3px; BORDER-TOP: #cccccc 2px dotted
}
#nwtextlinks TD {
	BORDER-BOTTOM: #c9ced2 1px solid; PADDING-BOTTOM: 8px; MARGIN: 0px; PADDING-LEFT: 17px; PADDING-RIGHT: 17px; FONT: 90% Arial; PADDING-TOP: 8px
}
TD.sponsblue {
	BACKGROUND: #eff7fd
}
#sponsoredlinks P A {
	FONT-WEIGHT: bold
}
#idglinks P A {
	FONT-WEIGHT: bold
}
#sponsoredlinks H5 SPAN A {
	TEXT-TRANSFORM: none; PADDING-LEFT: 15px; FONT-SIZE: 11px; VERTICAL-ALIGN: baseline; TEXT-DECORATION: none
}
#sponsoredlinks #toplinks P A {
	COLOR: #000000; FONT-WEIGHT: normal
}
#sponsoredlinks #toplinks P A SPAN {
	DISPLAY: block; COLOR: #0863a5; FONT-WEIGHT: bold
}
#instapll .de H3 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 120px; PADDING-RIGHT: 0px; BACKGROUND: url(/includes/styles/i/instaPollTop.gif) #ebebeb no-repeat left top; HEIGHT: 50px; PADDING-TOP: 52px
}
#instapll .sky H3 {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; BACKGROUND: url(/includes/styles/i/instaPollTop168.gif) #ebebeb no-repeat center top; HEIGHT: 50px; PADDING-TOP: 56px
}
#instapll {
	BACKGROUND-COLOR: #ebebeb
}
#instapll .de P {
	TEXT-ALIGN: left; PADDING-BOTTOM: 0px; LINE-HEIGHT: 14px; MARGIN: 10px 20px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 11px; PADDING-TOP: 0px
}
#instapll .sky P {
	TEXT-ALIGN: left; PADDING-BOTTOM: 0px; LINE-HEIGHT: 14px; MARGIN: 10px 20px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 11px; PADDING-TOP: 0px
}
#instapll FORM {
	PADDING-BOTTOM: 4px
}
#toolbar #techwords {
	BORDER-BOTTOM: #999999 1px dashed; MARGIN: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 90%; BORDER-TOP: #999999 1px dashed; PADDING-TOP: 15px
}
#toolbar #techwords H6 {
	PADDING-BOTTOM: 0px; TEXT-TRANSFORM: uppercase; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 12px; PADDING-TOP: 0px
}
#destrip {
	CLIP: rect(0px 336px 73px 0px); PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #ffffff; MARGIN-TOP: 10px; PADDING-LEFT: 0px; WIDTH: 336px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 72px; FONT-SIZE: 12px; OVERFLOW: hidden; BORDER-TOP: #8e8c8c 1px solid; PADDING-TOP: 0px; voice-family: inherit
}
HTML > BODY #destrip {
	WIDTH: 312px
}
#destrip P {
	TEXT-ALIGN: left; PADDING-BOTTOM: 0px; LINE-HEIGHT: 14px; MARGIN: 0px; PADDING-LEFT: 14px; PADDING-RIGHT: 14px; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 12px; PADDING-TOP: 2px
}
#destrip A {
	COLOR: #333333; TEXT-DECORATION: none
}
#destrip A:hover {
	COLOR: #830707; TEXT-DECORATION: underline
}
#destrip H2 {
	TEXT-ALIGN: left; PADDING-BOTTOM: 0px; TEXT-TRANSFORM: none; MARGIN: 0px; PADDING-LEFT: 14px; PADDING-RIGHT: 14px; FONT: bold 14px Arial, Helvetica, sans-serif; COLOR: #007dc5; PADDING-TOP: 7px
}
#destrip H2 A {
	COLOR: #ffffff; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
DIV.imu {
	MARGIN-BOTTOM: 15px
}
