TH {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Tahoma,Verdana,Arial
}
INPUT {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Tahoma,Verdana,Arial
}
SELECT {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Tahoma,Verdana,Arial
}
.px {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 2px 0px 0px; PADDING-TOP: 0px
}
.px5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 5px 0px 0px; PADDING-TOP: 0px
}
.title01 {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; PADDING-BOTTOM: 10px; MARGIN: 10px 15px 0px; COLOR: #ffffff; FONT-STYLE: italic; FONT-FAMILY: Tahoma,Verdana,Arial
}
.title03 A {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; PADDING-BOTTOM: 0px; MARGIN: 0px 5px; COLOR: #ffffff; FONT-FAMILY: Tahoma,Verdana,Arial
}
.title {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; PADDING-BOTTOM: 1px; MARGIN: 1px 10px 1px 37px; COLOR: #ffffff; FONT-FAMILY: Tahoma,Verdana,Arial
}
.title A {
	COLOR: #ef6d00
}
.title A:hover {
	COLOR: #c25a02
}
.list {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 3px; MARGIN: 3px 10px 0px; COLOR: #ffffff; FONT-FAMILY: Tahoma,Verdana,Arial
}
.right {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 10px; MARGIN: 5px 15px 0px; COLOR: #000000; FONT-FAMILY: Tahoma,Verdana,Arial
}
.right A {
	COLOR: #ff7500
}
.list A {
	COLOR: #ff7500
}
.right A:hover {
	COLOR: #aaaaaa
}
.left {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 5px; MARGIN: 5px 25px 0px 15px; COLOR: #000000; FONT-FAMILY: Tahoma,Verdana,Arial
}
.left B {
	COLOR: #ff6600
}
.left A {
	COLOR: #ff6600
}
.left A:hover {
	COLOR: #ff0000
}
P {
	FONT-SIZE: 11px; PADDING-BOTTOM: 10px; MARGIN: 5px 20px 0px; COLOR: #000000; FONT-FAMILY: Tahoma,Verdana,Arial
}
P A {
	COLOR: #000000
}
P A:hover {
	COLOR: #294a7b
}
.menu01 {
	FONT-SIZE: 11px; PADDING-BOTTOM: 1px; MARGIN: 1px 10px 0px; COLOR: #000000; FONT-FAMILY: Tahoma,Verdana,Arial
}
.menu01 A {
	COLOR: #000000; TEXT-DECORATION: none
}
.menu01 A:hover {
	COLOR: #555555
}
.menu02 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 5px; MARGIN: 5px 20px 0px; COLOR: #ffffff; FONT-FAMILY: Tahoma,Verdana,Arial
}
.menu02 A {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.menu02 A:hover {
	COLOR: #dddddd
}
.bar01 {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; PADDING-BOTTOM: 1px; MARGIN: 1px 20px 0px 5px; COLOR: #000000; FONT-FAMILY: Arial,Tahoma,Verdana
}
.b01 {
	FONT-SIZE: 11px; PADDING-BOTTOM: 1px; MARGIN: 2px 0px 1px 20px; COLOR: #000000; FONT-FAMILY: Tahoma,Verdana,Arial
}
.b02 {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Tahoma,Verdana,Arial
}
.b03 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Tahoma,Verdana,Arial
}
.b01 A {
	COLOR: #000000; TEXT-DECORATION: none
}
.b01 A:hover {
	COLOR: #333333
}
.AlinhaTexto {
	TEXT-ALIGN: justify
}
.AlinhaEsquerda {
	TEXT-ALIGN: left
}
.AlinhaDireita {
	TEXT-ALIGN: right
}
.AlinhaCentro {
	TEXT-ALIGN: center
}
